.text-chenge-llly{
	color: #ffffff;
	font-size: 7px;
}
.wheel-run-button-illy{
	padding-top: 0;
    padding-bottom: 0;
    height: 25px;
    margin-top: 5px;
    width: 35%;
    box-sizing: border-box;
    opacity: .9;
    transition: .25s ease All;
    background-color: #FF7256;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    font-family: sans-serif;
    box-shadow: 3px 3px 1px rgba(0,0,0,.2);
}
.text-illy{
	position: relative;
    bottom: 180px;
    left: 210px;
}
.img-illy img{
	width: 175px;
    height: 299px;
}
.illy-color{
	position: absolute;
	margin-left: 415px;
	background: #63899D;
	width: 400px;
	height: 300px;
}
.silka-na-oplatu{
	color: #1089d4!important;
    background: transparent;
    border: 1px solid #1e90ff;
    border-radius: 8px 8px;
    padding: 8px 18px!important;
    margin-left: 10px;
    margin-right: 15px;

}
.silka-na-oplatu:hover{
	border: 1px solid #1e90ff;
    color: #fff!important;
    background: #1e90ff;

}
.vidio{
	
	position: absolute;
	margin-left: 615px;
	margin-top: 15px;
}
.status-info{
	
	color: #000;
	font-size: 16px;
	float: right;
}
.setting-input.discount-value-setting{
	width: 55px;
	margin-left: 25px;
	
}
.setting-input.win-weight{
	width: 40px;
	margin-left: 25px;
	
}
h2{
    margin: 20px !important;
}
.spin-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.setting-label span{
    display: inline-block;
    width: 125px;
}
.settings-section:not(.wheel-options-settings) .setting-label input{
    width: 269px;
}
.settings-subgroup{
    padding: 10px 0;
}

input[type=radio], input[type=checkbox]{
    margin-left: 10px
}
.submit-wrapper{
    padding-left: 50px;  
}
button[type=submit]{
    margin-top: 7px;
}
.settings-section:not(.wheel-options-settings){
    width: 400px;
}
textarea{
    width: 100%;
    color: black;
    height: 100px !important;
}
.email-subgroup{
    font-size: 16px;
}
.delay-setting{
    margin-top: 15px;
}
/* Style the buttons that are used to open the tab content */
.spin-tabs a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 25px;
    transition: 0.3s;
    color: black;
    font-weight: 700;
    font-size: 16px;    
}

/* Change background color of buttons on hover */
.spin-tabs a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.spin-tabs a.active {
    background-color: #ccc;
}

/* Style the tab content */
.spin-settings-tabcontent {
    display: none;
    padding: 10px 25px 40px;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
}
.spin-settings-tabcontent.active{
    display: block;
}

/*WHEEL PREVIEW*/
.wheel-ajax-loader-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    background-image: url(img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10002;
}
.spin-win-poupup-opener{
    position: fixed;
    left: -31px;
    top: 50%;
    z-index: 100;
    border-radius: 50%;
    padding: 10px 15px 10px 30px;
    background: #2490a4;
    cursor: pointer;
}
.spin-win-poupup-opener img{
    width: 50px;
}
.spin-win-poupup-opener:hover img{
    animation: shake 0.5s; 
    animation-iteration-count: 1; 
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.wheel-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .5;
    display: none;
    z-index: 10000
}
.wheel-modal{
    position: fixed;
    width: 800px;
    max-width: 90%;
    height: 100%;
    top: 0;
    left: -800px;

    background-color: #63899D;
    padding: 0 50px 50px 0;
/*    display: none; */
    text-align: center;  
    z-index: 10001;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;    
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 40px 0 rgba(0,0,0,.5);
}
.wheel-modal *{
    font-family: 'Montserrat', 'Segoe UI', 'Open Sans', sans-serif;
}

.admin-bar .wheel-modal{
    top: 20px;
}
.wheel-modal-content{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row-reverse;    
    align-items: center;
    box-sizing: border-box;    
}
.close-wheel-modal{
    position: absolute;
    right: 20px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 1000;
    color: white;
}
.wheel-container{
    float: left;
    margin-left: -150px;
    position: relative;
    left: -1000px;
}
.close-wheel-modal, .wheel-form-wrapper{
    opacity: 0;
}
.wheel{
    width: 500px;
    height: 500px;
    left: -75px;
    position: relative;
}
.wheel-drum{
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
.wheel-sector{
    position: absolute;
    width: 41%;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 14px;
    font-weight: 700;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    text-align: right;
    text-shadow: 0 0 4px black;    
}
.wheel-arrow {
    width: 95px;
    height: 50px;
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -ms-transform-origin: 73.31% 44.89%;
    -webkit-transform-origin: 73.31% 44.89%;
    transform-origin: 73.31% 44.89%;
}
.wheel-arrow.rock-arrow{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.wheel-form-wrapper{
    width: 400px;
    float: left;
    text-align: left;
    line-height: 1.3;
    box-sizing: border-box;
}
.wheel-form-wrapper p, .wheel-form-wrapper h3{
    color: white;
}
.wheel-form-title{
    font-size: 24px;
    margin-bottom: 10px;
}
.wheel-form-text{
    margin-bottom: 20px; 
}
.wheel-form-mark{
    margin-bottom: 10px;
    margin-left: 40px; 
}
.wheel-form-mark:before{
    content: 'o';
    margin-left: -15px;
    font-weight: 700;
    margin-top: 3px;
    position: absolute;
    font-size: 12px;
}
.wheel-form-email{
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 1px rgba(0,0,0,.2);
    padding-left: 10px;
}
.wheel-run-button{
    position: relative;
    padding-top:0;
    padding-bottom: 0;
    height: 38px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    opacity: .9;
    transition: .25s ease All;
    background-color: #FF7256;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    font-family: sans-serif; 
    box-shadow: 3px 3px 1px rgba(0,0,0,.2);
}
.wheel-run-button:hover{
    background: #FF7256;
    color: white;
    opacity: 1;
    cursor: pointer;
}
.validation-message{
    position: absolute;
    display: block;
}
.wheel-close-bottom{
    color: white;
    text-align: right;
    margin-top: 30px;
    cursor: pointer;
    font-size: 18px
}
.promocode-copied-tooltip{
    position: absolute;
    background: floralwhite;
    right: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 2px 10px 2px 25px;
    font-size: 12px;
    border-radius: 10px;
}
.promocode-copied-tooltip:before{
    content: " ";
    background: url(img/checked.png) no-repeat;
    background-size: contain;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 5px;
}
/*timer bar*/
.spin-win-timer-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #63899D;
    color: white;
    padding: 10px;
    box-shadow: 0 0 5px grey;
    display: none;
    z-index: 10000;
}
.spin-win-timer-bar-inner{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.spin-win-timer-bar-close{
    display: inline-block;
    float: right;
    cursor: pointer;
    padding-top: 5px;
}
.spin-win-coupon-code-message{
    display: inline-block;
    float: left;  
}
.spin-win-coupon-code-message-left, .spin-win-timer{
    display: inline-block;
    padding: 10px; 
}
 .spin-win-timer > span{
    padding: 5px 10px;      
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.5);
 }
.spin-win-coupon-code-message-left span{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px dashed white;
    margin: 0 10px;
}
@media screen and (max-width: 767px){
    .wheel-modal{
        max-width: 100%;
    }   
    .wheel-container{
        float: left;
    }
    .wheel-form-wrapper {
        float: left;
        text-align: left;
        padding-left: 40px;
        line-height: 1.3;
    } 
    .wheel-arrow {
        margin-right: 0;
    }
    .spin-win-poupup-opener img {
        width: 75px;
    }
}
@media screen and (max-width: 639px){
    .wheel-form-title {
        font-size: 22px;
    }
}
@media screen and (max-width: 590px){
    .wheel-modal{
        padding: 10px 20px 0 0;
        height: auto;
    }
    .wheel-modal-content{
        display: inline-block;
        height: auto;
        padding: 0;
    }
    .wheel-container{
        width: 100%;
    }
    .wheel-form-wrapper {
        width: 100%;
        margin: 20px 0 0 -10px;      
    }
    .wheel-container{
        transform: scale(.75,.75) translateY(-75px);
    } 
    .close-wheel-modal{
        margin-top: 0;
    }

}
@media screen and (max-width: 567px){
    .not-mobile-spin{
        display: none !important;
    }
}
@media screen and (max-width: 499px){
    .spin-win-timer-bar-close{
        right: 5px;
        position: absolute;
    }
    .spin-win-timer-bar-inner{
        width: 100%;
    }
}
@media screen and (max-width: 399px){
    .spin-win-coupon-code-message-left, .spin-win-timer {
        line-height: 2.5;
    }  
    
    .spin-win-coupon-code-message-left, .spin-win-timer{
        width: auto;
        padding: 10px 0;
    }
    .spin-win-coupon-code-message-left span {
        padding: 5px 5px;
        margin: 0 5px;
    }
    .spin-win-timer > span{
        padding: 5px 5px;
    }
}